.section {
  height: 100vh;
}

.containter {
  position: relative;
  display: block;
  height: auto;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  padding: 0px 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.containter.hori {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  padding: 0px 60px 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.top-text {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top-img {
  width: 80vw;
  background-image: url('../images/WechatIMG871.jpeg');
  background-position: 50% 0%;
  background-size: contain;
  background-repeat: no-repeat;
}

.paragraph {
  font-family: 'Lucida sans typewriter', sans-serif;
  line-height: 2;
}

.top-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.link {
  padding-right: 20px;
  font-family: Lucidagrande, sans-serif;
  color: #111;
  letter-spacing: 1px;
  text-decoration: none;
}

.heading {
  margin-top: 220px;
}

.logo {
  display: block;
  margin-bottom: 40px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image {
  width: 100px;
}

.projeect-wrapper {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.project-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #d4237a;
  border-radius: 8px;
}

.footer {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: auto;
  height: 10vh;
  max-width: 1200px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #363636;
}

.project-item-link {
  width: 480px;
  padding-right: 40px;
  color: #000;
  text-decoration: none;
}

.project-image {
  width: 100%;
  height: 350px;
  -o-object-fit: contain;
  object-fit: contain;
}

.magnify {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: contain;
  object-fit: contain;
}

.project-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-family: Cooper, sans-serif;
  color: #222;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Cooper, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0px;
}

.project-grid {
  display: -ms-grid;
  display: grid;
  height: auto;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.project-main-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 65vh;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-3 {
  position: static;
  display: block;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.project-sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 65vh;
  max-height: 65vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.p {
  margin-bottom: 20px;
  font-family: 'Lucida sans', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

.project-more-image {
  height: auto;
}

.image-4 {
  overflow: visible;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.sns {
  position: absolute;
  left: auto;
  top: 0%;
  right: 5%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.sns-link {
  width: 30px;
  padding-top: 10px;
}

.logo-text {
  display: block;
  margin-bottom: 0px;
  font-family: 'Lucida sans typewriter', sans-serif;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1.5px;
}

.div-block-2 {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.link-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.project-grid-title {
  display: -ms-grid;
  display: grid;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.typer {
  font-family: 'Lucida sans', sans-serif;
}

.round-loope {
  display: none;
  border: 1px solid #000;
  border-radius: 100%;
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .containter.hori {
    padding-right: 40px;
    padding-left: 40px;
  }

  .top-text {
    width: 70vw;
  }

  .top-link {
    padding-right: 20px;
    padding-left: 20px;
  }

  .project-image {
    height: 200px;
    -o-object-fit: none;
    object-fit: none;
  }

  .magnify {
    display: block;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 767px) {
  .containter {
    padding-right: 40px;
    padding-left: 40px;
  }

  .top-text {
    width: 80vw;
  }

  .paragraph {
    max-width: 100%;
  }

  .top-link {
    position: relative;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .link {
    padding-right: 10px;
  }

  .projeect-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .project-item-link {
    margin-bottom: 40px;
  }

  .project-sub {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .containter {
    position: static;
    padding-right: 10px;
    padding-left: 10px;
  }

  .containter.hori {
    height: 80vh;
    padding-right: 10px;
    padding-left: 10px;
  }

  .top-text {
    width: 90vw;
  }

  .top-link {
    position: relative;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .link {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .projeect-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }

  .project-item-link {
    padding-right: 0px;
  }

  .project-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .sns {
    position: absolute;
    right: 5%;
    padding-bottom: 220px;
  }

  .project-grid-title {
    grid-column-gap: 0px;
    -ms-grid-columns: 0.25fr 1fr;
    grid-template-columns: 0.25fr 1fr;
  }
}

#w-node-bbbe2f27-673d-7816-0ec6-bb1805537b6f-20975f0f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d6170bc6-8da4-ca7f-36b4-c64c336b52ee-20975f0f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_67fd52c9-a6cc-7913-8eb0-ba380bb1914f-20975f0f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_30ff5980-e71e-cf57-87db-db79bfc9dbfc-20975f0f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_0fc0a3c3-cfc8-15dd-41a6-3c03393a68ee-20975f0f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@font-face {
  font-family: 'Cooper';
  src: url('../fonts/Cooper-Black-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lucida sans';
  src: url('../fonts/Lucida-Sans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lucida sans typewriter';
  src: url('../fonts/Lucida-Sans-Typewriter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lucida sans typewriter';
  src: url('../fonts/Lucida-Sans-Typewriter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lucidagrande';
  src: url('../fonts/LucidaGrande.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}